.worldcup2026-page {
  padding: 2rem;
  background-color: #0f172a;
  color: white;
  min-height: 100vh;
}

.open-packs-button {
  padding: 1rem 2rem;
  background: gold;
  border: none;
  font-weight: bold;
  border-radius: 3.5px;
  margin-top: 1rem;
}